In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings('ignore')
%matplotlib inline

In [3]:
df = df = pd.read_csv("../NLP/TextFiles/moviereviews.tsv",sep='\t')

In [4]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [5]:
len(df)

2000

In [7]:
df.isnull().sum()

label      0
review    35
dtype: int64

In [8]:
df.dropna(inplace=True)

In [9]:
df.isnull().sum()

label     0
review    0
dtype: int64

In [10]:
# Removing empty strings ' '


blanks = []

for i,lb,rv in df.itertuples():
    if rv.isspace():
        blanks.append(i)

In [12]:
# blanks
# Drop the blanks index position
df.drop(blanks,inplace=True)

In [13]:
len(df)

1938

In [14]:
# Splitting the data into training and test set

In [15]:
from sklearn.model_selection import train_test_split