In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import nltk
import warnings

warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('C:/Users/danca/Music/NLP/TextFiles/moviereviews.tsv',sep='\t')

In [3]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [4]:
# dropping for white spaces

In [5]:
df['label'].value_counts()

neg    1000
pos    1000
Name: label, dtype: int64

In [6]:
df.isnull().sum()

label      0
review    35
dtype: int64

In [7]:
df.dropna(inplace=True)

In [8]:
# Importing SemtimentInensityAnalyser and Creating sid object
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [9]:
sid = SentimentIntensityAnalyzer()

In [10]:
# Using sid to apppend comp_score to dataset

In [11]:
df['scores'] = df['review'].apply(lambda review: sid.polarity_scores(review))

df['compound']  = df['scores'].apply(lambda score_dict: score_dict['compound'])

df['comp_score'] = df['compound'].apply(lambda c: 'pos' if c >=0 else 'neg')

df.head()

,label,review,scores,compound,comp_score
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125,neg
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618,neg
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.068, 'neu': 0.781, 'pos': 0.15, 'com...",0.9951,pos
3,pos,according to hollywood movies made in last few...,"{'neg': 0.071, 'neu': 0.782, 'pos': 0.147, 'co...",0.9972,pos
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.091, 'neu': 0.817, 'pos': 0.093, 'co...",-0.2484,neg

In [12]:
# comparison analysis

In [13]:
from sklearn import metrics

In [14]:
metrics.accuracy_score(df['label'],df['comp_score'])

0.6335877862595419

In [15]:
print(metrics.classification_report(df['label'],df['comp_score']))

              precision    recall  f1-score   support

         neg       0.72      0.43      0.54       983
         pos       0.60      0.83      0.69       982

    accuracy                           0.63      1965
   macro avg       0.66      0.63      0.62      1965
weighted avg       0.66      0.63      0.62      1965

In [16]:
print(metrics.confusion_matrix(df['label'],df['comp_score']))

[[427 556]
 [164 818]]