In [16]:
import pandas as pd
import numpy as np
import seaborn as sns
import nltk

In [2]:
df = pd.read_csv('C:/Users/danca/Music/NLP/TextFiles/moviereviews.tsv',sep='\t')

In [3]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [10]:
# dropping for white spaces

In [12]:
df['label'].value_counts()

pos    987
neg    986
Name: label, dtype: int64

In [13]:
df.isnull().sum()

label      0
review    35
dtype: int64

In [14]:
df.dropna(inplace=True)

In [17]:
# Importing SemtimentInensityAnalyser and Creating sid object
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [18]:
sid = SentimentIntensityAnalyzer()

In [19]:
# Using sid to apppend comp_score to dataset

In [ ]:
df